<div class="clearfix"></div>
<div class="fixed-bar fl-wrap" id="dash_menu">
    <div class="user-profile-menu-wrap fl-wrap block_box">
        <!-- user-profile-menu-->
        <div class="user-profile-menu">
            <h3>Stats</h3>
            <ul class="no-list-style">
                <li><a href="dashboard.html" class="user-profile-act"><i class="fal fa-chart-line"></i>Dashboard</a></li>


            </ul>
        </div>
        <!-- user-profile-menu end-->
        <!-- user-profile-menu-->
        <div class="user-profile-menu">
            <h3>Manage</h3>
            <ul class="no-list-style">
                <li><a href="dashboard-password.html"><i class="fal fa-key"></i>Manage Users</a></li>
            </ul>
        </div>
        <div class="user-profile-menu">
            <h3>Create</h3>
            <ul class="no-list-style">
                <li><a href="dashboard-feed.html"><i class="fal fa-rss"></i>Create Amenities</a></li>
                <li><a href="dashboard-myprofile.html"><i class="fal fa-user-edit"></i>Create Address</a></li>
                <li><a href="dashboard-messages.html"><i class="fal fa-envelope"></i>Create Reviews<span>3</span></a></li>
                <li><a href="dashboard-password.html"><i class="fal fa-key"></i>Create Reservation</a></li>
                <li><a href="/Places/CreateAddress"><i class="fal fa-key"></i>Create Place</a></li>
                <li><a href="dashboard-password.html"><i class="fal fa-key"></i>Create Photo</a></li>
                <li><a href="dashboard-password.html"><i class="fal fa-key"></i>Create User</a></li>
                @*<p>
                    @Html.ActionLink("Create new Place", "CreateAddress", "Places", null, new { style = "color:red" })
                </p>*@
            </ul>
        </div>
    </div>
</div>
<a class="back-tofilters color2-bg custom-scroll-link fl-wrap" href="#dash_menu">Back to Menu<i class="fas fa-caret-up"></i></a>