<!--footer-inner-->
<div class="footer-inner   fl-wrap">
    <div class="container">
        <div class="row">
            <!-- footer-widget-->
            <div class="col-md-4">
                <div class="footer-widget fl-wrap">
                    <div class="footer-logo"><a href="index.html"><img src="~/images/logo.png" alt=""></a></div>
                    <div class="footer-contacts-widget fl-wrap">
                        <p>In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida.   </p>
                        <ul class="footer-contacts fl-wrap no-list-style">
                            <li><span><i class="fal fa-envelope"></i> Mail :</span><a href="#" target="_blank">yourmail@domain.com</a></li>
                            <li> <span><i class="fal fa-map-marker"></i> Adress :</span><a href="#" target="_blank">USA 27TH Brooklyn NY</a></li>
                        </ul>
                        <div class="footer-social">
                            <span>Find  us on: </span>
                            <ul class="no-list-style">
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-widget end-->
            <!-- footer-widget-->
            <div class="col-md-3">
                <div class="footer-widget fl-wrap">
                    <h3>Our Last News</h3>
                    <div class="footer-widget-posts fl-wrap">
                        <ul class="no-list-style">
                            <li class="clearfix">
                                <a href="#" class="widget-posts-img"><img src="images/all/4.jpg" class="respimg" alt=""></a>
                                <div class="widget-posts-descr">
                                    <a href="#" title="">Vivamus dapibus rutrum</a>
                                    <span class="widget-posts-date"><i class="fal fa-calendar"></i> 21 Mar 09.05 </span>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="#" class="widget-posts-img"><img src="images/all/2.jpg" class="respimg" alt=""></a>
                                <div class="widget-posts-descr">
                                    <a href="#" title=""> In hac habitasse platea</a>
                                    <span class="widget-posts-date"><i class="fal fa-calendar"></i> 7 Mar 18.21 </span>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="#" class="widget-posts-img"><img src="images/all/7.jpg" class="respimg" alt=""></a>
                                <div class="widget-posts-descr">
                                    <a href="#" title="">Tortor tempor in porta</a>
                                    <span class="widget-posts-date"><i class="fal fa-calendar"></i> 7 Mar 16.42 </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-widget fl-wrap">
                    <h3>Our Last News</h3>
                    <div class="footer-widget-posts fl-wrap">
                        <ul class="no-list-style">
                            <li class="clearfix">
                                <a href="#" class="widget-posts-img"><img src="images/all/4.jpg" class="respimg" alt=""></a>
                                <div class="widget-posts-descr">
                                    <a href="#" title="">Vivamus dapibus rutrum</a>
                                    <span class="widget-posts-date"><i class="fal fa-calendar"></i> 21 Mar 09.05 </span>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="#" class="widget-posts-img"><img src="images/all/2.jpg" class="respimg" alt=""></a>
                                <div class="widget-posts-descr">
                                    <a href="#" title=""> In hac habitasse platea</a>
                                    <span class="widget-posts-date"><i class="fal fa-calendar"></i> 7 Mar 18.21 </span>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="#" class="widget-posts-img"><img src="images/all/7.jpg" class="respimg" alt=""></a>
                                <div class="widget-posts-descr">
                                    <a href="#" title="">Tortor tempor in porta</a>
                                    <span class="widget-posts-date"><i class="fal fa-calendar"></i> 7 Mar 16.42 </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- footer-widget end-->

            <div class="col-2 text-white btn-chat">
                @* Opens in a new view with c# *@
                @*<a href="/Home/Chat" class="add-list color-bg">Chat with us <span><i class="far fa-comments"></i></span></a>*@
                @* Opens in a modal with javascript *@
                <a href="javascript:var x=window.open('/Home/Chat', target = '_blank', 'width = 1000px, height = 800px')" , class="add-list color-bg">Chat with us <span><i class="far fa-comments"></i></span></a>

            </div>
        </div>
    </div>

</div>
<!-- footer bg-->

<div class="footer-wave">

    <svg viewBox="0 8 100 25">
        <path fill="#fff" d="M0 80 V00 Q40 27 55 12 T200 15 V30z"></path>
    </svg>
</div>
<!-- footer bg  end-->
<!--footer-inner end -->
<!--sub-footer-->
<div class="sub-footer  fl-wrap">
    <div class="container">
        <div class="copyright"> © HomeSeek 2020 .  All rights reserved.</div>
    </div>
</div>
<!--sub-footer end -->

