
<!--footer-inner-->
<div class="footer-inner   fl-wrap">
    <div class="container">
        <div class="row">
            <!-- footer-widget-->
            <div class="col-md-4">
                <div class="footer-widget fl-wrap">
                    <div class="footer-logo"><a href="index.html"><img src="~/images/logo.png" alt=""></a></div>
                    <div class="footer-contacts-widget fl-wrap">
                        <p>In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla eu mi magna. Etiam suscipit commodo gravida.   </p>
                        <ul class="footer-contacts fl-wrap no-list-style">
                            <li><span><i class="fal fa-envelope"></i> Mail :</span><a href="#" target="_blank">yourmail@domain.com</a></li>
                            <li> <span><i class="fal fa-map-marker"></i> Adress :</span><a href="#" target="_blank">USA 27TH Brooklyn NY</a></li>
                            <li><span><i class="fal fa-phone"></i> Phone :</span><a href="#">+7(111)123456789</a></li>
                        </ul>
                        <div class="footer-social">
                            <span>Find  us on: </span>
                            <ul class="no-list-style">
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-widget end-->
            <!-- footer-widget-->
            <div class="col-md-4">
                <div class="footer-widget fl-wrap">
                    <h3>Our Last News</h3>
                    <div class="footer-widget-posts fl-wrap">
                        <ul class="no-list-style">
                            <li class="clearfix">
                                <a href="#" class="widget-posts-img"><img src="~/images/avatar/xen.jpg" class="respimg" alt=""></a>
                                <div class="widget-posts-descr">
                                    <a href="#" title="">Vlachogiannis Xenofontas</a>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="#" class="widget-posts-img"><img src="~/images/avatar/thanos.jpg" class="respimg" alt=""></a>
                                <div class="widget-posts-descr">
                                    <a href="#" title="">Kontodimas Athanasios</a>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="#" class="widget-posts-img"><img src="~/images/avatar/alex.jpg" class="respimg" alt=""></a>
                                <div class="widget-posts-descr">
                                    <a href="#" title="">Perikleous Alexandros</a>
                                </div>
                            </li>
                            <li class="clearfix">
                                <a href="#" class="widget-posts-img"><img src="~/images/avatar/zak.jpg" class="respimg" alt=""></a>
                                <div class="widget-posts-descr">
                                    <a href="#" title="">Drimiskianakis Zacharias</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- footer-widget end-->

        </div>
    </div>

</div>
<!--footer-inner end -->
<!--sub-footer-->
<div class="sub-footer  fl-wrap">
    <div class="container">
        <div class="copyright"> © HomeSeek 2020 .  All rights reserved.</div>

    </div>
</div>
<!--sub-footer end -->
