@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div class="show-reg-form  avatar-img text-white"><a class="text-white" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></div>
        <div> @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "show-reg-form avatar-img" })</div>

    }
}
else
{
    <div class="show-reg-form avatar-img" data-srcav="~/images/avatar/3.jpg"><i class="fal fa-user"></i><a class="text-white" href="/Account/Register">Register</a></div>
    <div class="show-reg-form avatar-img" data-srcav="~/images/avatar/3.jpg"><i class="fal fa-user"></i><a class="text-white" href="/Account/Login">Sign in</a></div>
}
