@{
    ViewBag.Title = "Home Page";
}
<section class="hero-section" data-scrollax-parent="true">
    <div class="bg-tabs-wrap">
        <div class="bg-parallax-wrap" data-scrollax="properties: { translateY: '200px' }">
            <div class="bg bg_tabs" data-bg="/images/bg/hero/home.jpg"></div>
            <div class="overlay op7"></div>
        </div>
    </div>
    <div class="container small-container">
        <div class="intro-item fl-wrap">
            <span class="section-separator"></span>
            <div class="bubbles">
                <h1>Explore Best Places In City</h1>
            </div>
            <h3>Find some of the best tips from around the city from our partners and friends.</h3>
        </div>
        <!-- main-search-input-tabs-->
        <div class="main-search-input-tabs  tabs-act fl-wrap">
            @*<ul class="tabs-menu change_bg no-list-style">

                <li class="current"><a href="#tab-inpt4" data-bgtab="/image/bg/hero/home.jpg"> Hotels</a></li>
            </ul>*@
            <!--tabs -->
            <div class="tabs-container fl-wrap  ">

                <div class="tab">
                    <div id="tab-inpt4" class="tab-content first-tab">
                        <div class="main-search-input-wrap fl-wrap">
                            <div class="main-search-input fl-wrap">
                                <div class="main-search-input-item">
                                    <label><i class="fal fa-cheeseburger"></i></label>
                                    <input type="text" placeholder="Hotel Name" value="" />
                                </div>
                                <div class="main-search-input-item">
                                    <label><i class="fal fa-user-friends"></i></label>
                                    <input type="number" placeholder="Persons" value="" />
                                </div>
                                <div class="main-search-input-item clact date-container3 daterangepicker_big">
                                    <span class="iconn-dec"><i class="fal fa-calendar"></i></span>
                                    <input type="text" placeholder="Date In Out" name="dates" value="" />
                                    <span class="clear-singleinput"><i class="fal fa-times"></i></span>
                                </div>
                                <button class="main-search-button color2-bg" onclick="window.location.href='listing.html'">Search <i class="far fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--tab end-->
            </div>
            <!--tabs end-->
        </div>
        <!-- main-search-input-tabs end-->
        <div class="hero-categories fl-wrap">
            <h4 class="hero-categories_title">Just looking around ? Use quick search by category :</h4>
            <ul class="no-list-style">
                @*<li><a href="listing.html"><i class="far fa-cheeseburger"></i><span>Restaurants</span></a></li>*@
                <li><a href="listing.html"><i class="far fa-bed"></i><span>Hotels</span></a></li>
                @*<li><a href="listing.html"><i class="far fa-shopping-bag"></i><span>Shops</span></a></li>
                <li><a href="listing.html"><i class="far fa-dumbbell"></i><span>Fitness</span></a></li>
                <li><a href="listing.html"><i class="far fa-cocktail"></i><span>Events</span></a></li>*@
            </ul>
        </div>
    </div>
    <div class="header-sec-link">
        <a href="#sec1" class="custom-scroll-link"><i class="fal fa-angle-double-down"></i></a>
    </div>
</section>
<!--section end-->
<!--section  -->
<section class="slw-sec" id="sec1">
    <div class="section-title">
        <h2>The Latest Listings</h2>
        <div class="section-subtitle">Newest  Listings</div>
        <span class="section-separator"></span>
        <p>Mauris ac maximus neque. Nam in mauris quis libero sodales eleifend. Morbi varius, nulla sit amet rutrum elementum.</p>
    </div>
    <div class="listing-slider-wrap fl-wrap">
        <div class="listing-slider fl-wrap">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!--  swiper-slide  -->
                    <div class="swiper-slide">
                        <div class="listing-slider-item fl-wrap">
                            <!-- listing-item  -->
                            <div class="listing-item listing_carditem">
                                <article class="geodir-category-listing fl-wrap">
                                    <div class="geodir-category-img">
                                        <div class="geodir-js-favorite_btn"><i class="fal fa-heart"></i><span>Save</span></div>
                                        <a href="listing-single.html" class="geodir-category-img-wrap fl-wrap">
                                            <img src="/image/all/1.jpg" alt="">
                                        </a>
                                        <div class="geodir_status_date gsd_open"><i class="fal fa-lock-open"></i>Open Now</div>
                                        <div class="geodir-category-opt">
                                            <div class="geodir-category-opt_title">
                                                <h4><a href="listing-single.html">The Goggi Restaurant</a></h4>
                                                <div class="geodir-category-location"><a href="#"><i class="fas fa-map-marker-alt"></i>  34-42 Montgomery St , NY, USA</a></div>
                                            </div>
                                            <div class="listing-rating-count-wrap">
                                                <div class="review-score">4.1</div>
                                                <div class="listing-rating card-popup-rainingvis" data-starrating2="4"></div>
                                                <br>
                                                <div class="reviews-count">26 reviews</div>
                                            </div>
                                            <div class="listing_carditem_footer fl-wrap">
                                                <a class="listing-item-category-wrap" href="#">
                                                    <div class="listing-item-category red-bg"><i class="fal fa-cheeseburger"></i></div>
                                                    <span>Restaurants</span>
                                                </a>
                                                <div class="price-level geodir-category_price">
                                                    <span class="price-level-item" data-pricerating="2"></span>
                                                    <span class="price-name-tooltip">Pricey</span>
                                                </div>
                                                <div class="post-author"><a href="#"><img src="/image/avatar/1.jpg" alt=""><span>By , Alisa Noory</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!-- listing-item end -->
                        </div>
                    </div>
                    <!--  swiper-slide end  -->
                    <!--  swiper-slide  -->
                    <div class="swiper-slide">
                        <div class="listing-slider-item fl-wrap">
                            <!-- listing-item  -->
                            <div class="listing-item listing_carditem">
                                <article class="geodir-category-listing fl-wrap">
                                    <div class="geodir-category-img">
                                        <div class="geodir-js-favorite_btn"><i class="fal fa-heart"></i><span>Save</span></div>
                                        <a href="listing-single.html" class="geodir-category-img-wrap fl-wrap">
                                            <img src="/image/all/1.jpg" alt="">
                                        </a>
                                        <div class="geodir_status_date gsd_close"><i class="fal fa-lock"></i>Close Now</div>
                                        <div class="geodir-category-opt">
                                            <div class="geodir-category-opt_title">
                                                <h4><a href="listing-single.html">Gym in the Center</a></h4>
                                                <div class="geodir-category-location"><a href="#"><i class="fas fa-map-marker-alt"></i>  70 Bright St New York, USA</a></div>
                                            </div>
                                            <div class="listing-rating-count-wrap">
                                                <div class="review-score">5.0</div>
                                                <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                                                <br>
                                                <div class="reviews-count">7 reviews</div>
                                            </div>
                                            <div class="listing_carditem_footer fl-wrap">
                                                <a class="listing-item-category-wrap" href="#">
                                                    <div class="listing-item-category blue-bg"><i class="fal fa-dumbbell"></i></div>
                                                    <span>Fitness / Gym</span>
                                                </a>
                                                <div class="price-level geodir-category_price">
                                                    <span class="price-level-item" data-pricerating="3"></span>
                                                    <span class="price-name-tooltip">Moderate</span>
                                                </div>
                                                <div class="post-author"><a href="#"><img src="/image/avatar/1.jpg" alt=""><span>By , Mark Rose</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!-- listing-item end -->
                        </div>
                    </div>
                    <!--  swiper-slide end  -->
                    <!--  swiper-slide  -->
                    <div class="swiper-slide">
                        <div class="listing-slider-item fl-wrap">
                            <!-- listing-item  -->
                            <div class="listing-item listing_carditem">
                                <article class="geodir-category-listing fl-wrap">
                                    <div class="geodir-category-img">
                                        <div class="geodir-js-favorite_btn"><i class="fal fa-heart"></i><span>Save</span></div>
                                        <a href="listing-single.html" class="geodir-category-img-wrap fl-wrap">
                                            <img src="/image/all/1.jpg" alt="">
                                        </a>
                                        <div class="geodir_status_date gsd_open"><i class="fal fa-lock-open"></i>Open Now</div>
                                        <div class="geodir-category-opt">
                                            <div class="geodir-category-opt_title">
                                                <h4><a href="listing-single.html">Moonlight Hotel</a></h4>
                                                <div class="geodir-category-location"><a href="#"><i class="fas fa-map-marker-alt"></i> 34-42 Montgomery St , NY, USA</a></div>
                                            </div>
                                            <div class="listing-rating-count-wrap">
                                                <div class="review-score">4.2</div>
                                                <div class="listing-rating card-popup-rainingvis" data-starrating2="4"></div>
                                                <br>
                                                <div class="reviews-count">3 reviews</div>
                                            </div>
                                            <div class="listing_carditem_footer fl-wrap">
                                                <a class="listing-item-category-wrap" href="#">
                                                    <div class="listing-item-category  yellow-bg"><i class="fal fa-bed"></i></div>
                                                    <span>Hotels</span>
                                                </a>
                                                <div class="price-level geodir-category_price">
                                                    <span class="price-level-item" data-pricerating="4"></span>
                                                    <span class="price-name-tooltip">Ultra Hight</span>
                                                </div>
                                                <div class="post-author"><a href="#"><img src="/image/avatar/1.jpg" alt=""><span>By , Nasty Wood</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!-- listing-item end -->
                        </div>
                    </div>
                    <!--  swiper-slide end  -->
                    <!--  swiper-slide  -->
                    <div class="swiper-slide">
                        <div class="listing-slider-item fl-wrap">
                            <!-- listing-item  -->
                            <div class="listing-item listing_carditem">
                                <article class="geodir-category-listing fl-wrap">
                                    <div class="geodir-category-img">
                                        <div class="geodir-js-favorite_btn"><i class="fal fa-heart"></i><span>Save</span></div>
                                        <a href="listing-single.html" class="geodir-category-img-wrap fl-wrap">
                                            <img src="/image/all/1.jpg" alt="">
                                        </a>
                                        <div class="geodir_status_date gsd_open"><i class="fal fa-lock-open"></i>Open Now</div>
                                        <div class="geodir-category-opt">
                                            <div class="geodir-category-opt_title">
                                                <h4><a href="listing-single.html">Shop in Aurora Center</a></h4>
                                                <div class="geodir-category-location"><a href="#"><i class="fas fa-map-marker-alt"></i> 40 Journal Square Plaza, NJ,  USA</a></div>
                                            </div>
                                            <div class="listing-rating-count-wrap">
                                                <div class="review-score">5.0</div>
                                                <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                                                <br>
                                                <div class="reviews-count">2 reviews</div>
                                            </div>
                                            <div class="listing_carditem_footer fl-wrap">
                                                <a class="listing-item-category-wrap" href="#">
                                                    <div class="listing-item-category green-bg"><i class="fal fa-cart-arrow-down"></i></div>
                                                    <span>Shopping</span>
                                                </a>
                                                <div class="price-level geodir-category_price">
                                                    <span class="price-level-item" data-pricerating="4"></span>
                                                    <span class="price-name-tooltip">Ultra Hight</span>
                                                </div>
                                                <div class="post-author"><a href="#"><img src="/image/avatar/1.jpg" alt=""><span>By , Kliff Antony</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!-- listing-item end -->
                        </div>
                    </div>
                    <!--  swiper-slide end  -->
                </div>
            </div>
            <div class="listing-carousel-button listing-carousel-button-next2"><i class="fas fa-caret-right"></i></div>
            <div class="listing-carousel-button listing-carousel-button-prev2"><i class="fas fa-caret-left"></i></div>
        </div>
        <div class="tc-pagination_wrap">
            <div class="tc-pagination2"></div>
        </div>
    </div>
</section>
<!--section end-->

<div class="sec-circle fl-wrap"></div>
<!--section -->
<section class="gray-bg hidden-section particles-wrapper">
    <div class="container">
        <div class="section-title">
            <h2>Explore Best Cities</h2>
            <div class="section-subtitle">Catalog of Categories</div>
            <span class="section-separator"></span>
            <p>In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus.</p>
        </div>
        <div class="listing-item-grid_container fl-wrap">
            <div class="row">
                <!--  listing-item-grid  -->
                <div class="col-sm-4">
                    <div class="listing-item-grid">
                        <div class="bg" data-bg="/image/all/1.jpg"></div>
                        <div class="d-gr-sec"></div>
                        <div class="listing-counter color2-bg"><span>16 </span> Locations</div>
                        <div class="listing-item-grid_title">
                            <h3><a href="listing.html">New York</a></h3>
                            <p>Constant care and attention to the patients makes good record</p>
                        </div>
                    </div>
                </div>
                <!--  listing-item-grid end  -->
                <!--  listing-item-grid  -->
                <div class="col-sm-4">
                    <div class="listing-item-grid">
                        <div class="bg" data-bg="/image/all/1.jpg"></div>
                        <div class="d-gr-sec"></div>
                        <div class="listing-counter color2-bg"><span>22 </span> Locations</div>
                        <div class="listing-item-grid_title">
                            <h3><a href="listing.html">Paris</a></h3>
                            <p>Constant care and attention to the patients makes good record</p>
                        </div>
                    </div>
                </div>
                <!--  listing-item-grid end  -->
                <!--  listing-item-grid  -->
                <div class="col-sm-4">
                    <div class="listing-item-grid">
                        <div class="bg" data-bg="/image/all/1.jpg"></div>
                        <div class="d-gr-sec"></div>
                        <div class="listing-counter color2-bg"><span>9 </span> Locations</div>
                        <div class="listing-item-grid_title">
                            <h3><a href="listing.html">Moscow</a></h3>
                            <p>Constant care and attention to the patients makes good record</p>
                        </div>
                    </div>
                </div>
                <!--  listing-item-grid end  -->
                <!--  listing-item-grid  -->
                <div class="col-sm-4">
                    <div class="listing-item-grid">
                        <div class="bg" data-bg="/image/all/1.jpg"></div>
                        <div class="d-gr-sec"></div>
                        <div class="listing-counter color2-bg"><span>12 </span> Locations</div>
                        <div class="listing-item-grid_title">
                            <h3><a href="listing.html">Rome</a></h3>
                            <p>Constant care and attention to the patients makes good record</p>
                        </div>
                    </div>
                </div>
                <!--  listing-item-grid end  -->
                <!--  listing-item-grid  -->
                <div class="col-sm-8">
                    <div class="listing-item-grid">
                        <div class="bg" data-bg="/image/all/1.jpg"></div>
                        <div class="d-gr-sec"></div>
                        <div class="listing-counter color2-bg"><span>33 </span> Locations</div>
                        <div class="listing-item-grid_title">
                            <h3><a href="listing.html">London</a></h3>
                            <p>Constant care and attention to the patients makes good record</p>
                        </div>
                    </div>
                </div>
                <!--  listing-item-grid end  -->
            </div>
        </div>
        <a href="listing.html" class="btn dec_btn   color2-bg">View All Cities<i class="fal fa-arrow-alt-right"></i></a>
    </div>
</section>
<!--  section  -->

<section class="parallax-section small-par" data-scrollax-parent="true">
    <div class="bg par-elem " data-bg="/image/bg/1.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
    <div class="overlay  op7"></div>
    <div class="container">
        <div class=" single-facts single-facts_2 fl-wrap">
            <!-- inline-facts -->
            <div class="inline-facts-wrap">
                <div class="inline-facts">
                    <div class="milestone-counter">
                        <div class="stats animaper">
                            <div class="num" data-content="0" data-num="1254">1254</div>
                        </div>
                    </div>
                    <h6>New Visiters Every Week</h6>
                </div>
            </div>
            <!-- inline-facts end -->
            <!-- inline-facts  -->
            <div class="inline-facts-wrap">
                <div class="inline-facts">
                    <div class="milestone-counter">
                        <div class="stats animaper">
                            <div class="num" data-content="0" data-num="12168">12168</div>
                        </div>
                    </div>
                    <h6>Happy customers every year</h6>
                </div>
            </div>
            <!-- inline-facts end -->
            <!-- inline-facts  -->
            <div class="inline-facts-wrap">
                <div class="inline-facts">
                    <div class="milestone-counter">
                        <div class="stats animaper">
                            <div class="num" data-content="0" data-num="2172">2172</div>
                        </div>
                    </div>
                    <h6>Won Amazing Awards</h6>
                </div>
            </div>
            <!-- inline-facts end -->
            <!-- inline-facts  -->
            <div class="inline-facts-wrap">
                <div class="inline-facts">
                    <div class="milestone-counter">
                        <div class="stats animaper">
                            <div class="num" data-content="0" data-num="732">732</div>
                        </div>
                    </div>
                    <h6>New Listing Every Week</h6>
                </div>
            </div>
            <!-- inline-facts end -->
        </div>
    </div>
</section>