@{
    ViewBag.Title = "Home Page";
}
<section class="hero-section" data-scrollax-parent="true">
    <div class="bg-tabs-wrap">
        <div class="bg-parallax-wrap" data-scrollax="properties: { translateY: '200px' }">
            <div class="bg bg_tabs" data-bg="/images/bg/hero/home.jpg"></div>
            <div class="overlay op7"></div>
        </div>
    </div>
    <div class="container small-container">
        <div class="intro-item fl-wrap">
            <span class="section-separator"></span>
            <div class="bubbles">
                <h1>Explore Best Places In City</h1>
            </div>
            <h3>Find some of the best tips from around the city from our partners and friends.</h3>
        </div>
        <!-- main-search-input-tabs-->
        <div class="main-search-input-tabs  tabs-act fl-wrap">
            @*<ul class="tabs-menu change_bg no-list-style">

                    <li class="current"><a href="#tab-inpt4" data-bgtab="/image/bg/hero/home.jpg"> Hotels</a></li>
                </ul>*@
            <!--tabs -->
            <div class="tabs-container fl-wrap  ">

                <div class="tab">
                    <div id="tab-inpt4" class="tab-content first-tab">
                        <div class="main-search-input-wrap fl-wrap">
                            <div class="main-search-input fl-wrap">
                                <div class="main-search-input-item">
                                    <label><i class="fal fa-cheeseburger"></i></label>
                                    <input type="text" placeholder="Hotel Name" value="" />
                                </div>
                                <div class="main-search-input-item">
                                    <label><i class="fal fa-user-friends"></i></label>
                                    <input type="number" placeholder="Persons" value="" />
                                </div>
                                <div class="main-search-input-item clact date-container3 daterangepicker_big">
                                    <span class="iconn-dec"><i class="fal fa-calendar"></i></span>
                                    <input type="text" placeholder="Date In Out" name="dates" value="" />
                                    <span class="clear-singleinput"><i class="fal fa-times"></i></span>
                                </div>
                                <button class="main-search-button color2-bg" onclick="window.location.href='/Places/Index'">Search <i class="far fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--tab end-->
            </div>
            <!--tabs end-->
        </div>
        <!-- main-search-input-tabs end-->
        <div class="hero-categories fl-wrap">
            <h4 class="hero-categories_title">Just looking around ? Use quick search by category :</h4>
            <ul class="no-list-style">
                <li><a href="listing.html"><i class="far fa-bed"></i><span>Hotels</span></a></li>
            </ul>
        </div>
    </div>
    <div class="header-sec-link">
        <a href="#sec1" class="custom-scroll-link"><i class="fal fa-angle-double-down"></i></a>
    </div>
</section>
<!--section end-->
<!--section  -->
<section class="slw-sec" id="sec1">
    <div class="section-title">
        <h2>The Latest Listings</h2>
        <div class="section-subtitle">Newest  Listings</div>
        <span class="section-separator"></span>
        <p>Mauris ac maximus neque. Nam in mauris quis libero sodales eleifend. Morbi varius, nulla sit amet rutrum elementum.</p>
    </div>
    <div class="listing-slider-wrap fl-wrap">
        <div class="listing-slider fl-wrap">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <!--  swiper-slide  -->
                    <div class="swiper-slide">
                        <div class="listing-slider-item fl-wrap">
                            <!-- listing-item  -->
                            <div class="listing-item listing_carditem">
                                <article class="geodir-category-listing fl-wrap">
                                    <div class="geodir-category-img">
                                        <div class="geodir-js-favorite_btn"><i class="fal fa-heart"></i><span>Save</span></div>
                                        <a href="listing-single.html" class="geodir-category-img-wrap fl-wrap">
                                            <img src="~/images/all/1.jpg" alt="">
                                        </a>
                                        <div class="geodir_status_date gsd_open"><i class="fal fa-lock-open"></i>Open Now</div>
                                        <div class="geodir-category-opt">
                                            <div class="geodir-category-opt_title">
                                                <h4><a href="listing-single.html">The Goggi Restaurant</a></h4>
                                                <div class="geodir-category-location"><a href="#"><i class="fas fa-map-marker-alt"></i>  34-42 Montgomery St , NY, USA</a></div>
                                            </div>
                                            <div class="listing-rating-count-wrap">
                                                <div class="review-score">4.1</div>
                                                <div class="listing-rating card-popup-rainingvis" data-starrating2="4"></div>
                                                <br>
                                                <div class="reviews-count">26 reviews</div>
                                            </div>
                                            <div class="listing_carditem_footer fl-wrap">
                                                <a class="listing-item-category-wrap" href="#">
                                                    <div class="listing-item-category red-bg"><i class="fal fa-cheeseburger"></i></div>
                                                    <span>Restaurants</span>
                                                </a>
                                                <div class="price-level geodir-category_price">
                                                    <span class="price-level-item" data-pricerating="2"></span>
                                                    <span class="price-name-tooltip">Pricey</span>
                                                </div>
                                                <div class="post-author"><a href="#"><img src="~/images/avatar/1.jpg" alt=""><span>By , Alisa Noory</span></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!-- listing-item end -->
                        </div>
                    </div>
                    <!--  swiper-slide end  -->
                </div>
            </div>
            <div class="listing-carousel-button listing-carousel-button-next2"><i class="fas fa-caret-right"></i></div>
            <div class="listing-carousel-button listing-carousel-button-prev2"><i class="fas fa-caret-left"></i></div>
        </div>
        <div class="tc-pagination_wrap">
            <div class="tc-pagination2"></div>
        </div>
    </div>
</section>
<!--section end-->

<div class="sec-circle fl-wrap"></div>

<section class="parallax-section small-par" data-scrollax-parent="true">
    <div class="bg par-elem " data-bg="/images/bg/hero/home.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
    <div class="overlay  op7"></div>
    <div class="container">
        <div class=" single-facts single-facts_2 fl-wrap">
            <!-- inline-facts -->
            <div class="inline-facts-wrap">
                <div class="inline-facts">
                    <div class="milestone-counter">
                        <div class="stats animaper">
                            <div class="num" data-content="0" data-num="1254">1254</div>
                        </div>
                    </div>
                    <h6>New Visiters Every Week</h6>
                </div>
            </div>
            <!-- inline-facts end -->
            <!-- inline-facts  -->
            <div class="inline-facts-wrap">
                <div class="inline-facts">
                    <div class="milestone-counter">
                        <div class="stats animaper">
                            <div class="num" data-content="0" data-num="12168">12168</div>
                        </div>
                    </div>
                    <h6>Happy customers every year</h6>
                </div>
            </div>
            <!-- inline-facts end -->
            <!-- inline-facts  -->
            <div class="inline-facts-wrap">
                <div class="inline-facts">
                    <div class="milestone-counter">
                        <div class="stats animaper">
                            <div class="num" data-content="0" data-num="2172">2172</div>
                        </div>
                    </div>
                    <h6>Won Amazing Awards</h6>
                </div>
            </div>
            <!-- inline-facts end -->
            <!-- inline-facts  -->
            <div class="inline-facts-wrap">
                <div class="inline-facts">
                    <div class="milestone-counter">
                        <div class="stats animaper">
                            <div class="num" data-content="0" data-num="732">732</div>
                        </div>
                    </div>
                    <h6>New Listing Every Week</h6>
                </div>
            </div>
            <!-- inline-facts end -->

        </div>
    </div>
</section>
<!--section  -->
<section data-scrollax-parent="true">
    <div class="container">
        <div class="section-title">
            <h2>How it works</h2>
            <div class="section-subtitle">Discover &amp; Connect </div>
            <span class="section-separator"></span>
            <p>Morbi varius, nulla sit amet rutrum elementum, est elit finibus tellus, ut tristique elit risus at metus.</p>
        </div>
        <div class="process-wrap fl-wrap">
            <ul class="no-list-style">
                <li>
                    <div class="process-item">
                        <span class="process-count">01 </span>
                        <div class="time-line-icon"><i class="fal fa-map-marker-alt"></i></div>
                        <h4> Find Interesting Place</h4>
                        <p>Proin dapibus nisl ornare diam varius tempus. Aenean a quam luctus, finibus tellus ut, convallis eros sollicitudin turpis.</p>
                    </div>
                    <span class="pr-dec"></span>
                </li>
                <li>
                    <div class="process-item">
                        <span class="process-count">02</span>
                        <div class="time-line-icon"><i class="fal fa-mail-bulk"></i></div>
                        <h4> Contact a Few Owners</h4>
                        <p>Faucibus ante, in porttitor tellus blandit et. Phasellus tincidunt metus lectus sollicitudin feugiat pharetra consectetur.</p>
                    </div>
                    <span class="pr-dec"></span>
                </li>
                <li>
                    <div class="process-item">
                        <span class="process-count">03</span>
                        <div class="time-line-icon"><i class="fal fa-layer-plus"></i></div>
                        <h4> Make a Listing</h4>
                        <p>Maecenas pulvinar, risus in facilisis dignissim, quam nisi hendrerit nulla, id vestibulum metus nullam viverra porta.</p>
                    </div>
                </li>
            </ul>
            <div class="process-end"><i class="fal fa-check"></i></div>
        </div>
    </div>
</section>
<!--section end-->