
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FailureView</title>
</head>
<body>
    <div> 

        You Have Failed!!!!
        @ViewBag.Exception
    </div>
</body>
</html>
